awscli==1.18.38
backcall==0.2.0
bleach==3.3.0
botocore==1.15.38
certifi==2020.6.20
chardet==3.0.4
chroma-py==0.1.0.dev1
colorama==0.4.3
colour==0.1.5
contextvars==2.4
cycler==0.10.0
decorator==4.4.2
docutils==0.15.2
geojson==2.5.0
idna==2.9
immutables==0.14
importlib-metadata==1.7.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.1
Jinja2==2.11.3
jmespath==0.9.5
keyring==21.4.0
kiwisolver==1.2.0
littleutils==0.2.2
mapboxgl==0.10.2
MarkupSafe==1.1.1
matplotlib==3.2.2
numpy==1.22.0
outdated==0.2.0
packaging==20.4
pandas==0.25.3
pandas-flavor==0.2.0
parso==0.7.0
patsy==0.5.1
pickleshare==0.7.5
pingouin==0.3.5
pkginfo==1.5.0.1
plotly==4.12.0
plotly-express==0.4.1
pontiPy==2.3
prompt-toolkit==3.0.3
pyasn1==0.4.8
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.4
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rsa==4.7
s3transfer==0.3.3
scipy==1.5.0
seaborn==0.10.1
six==1.13.0
sodapy==2.1.0
statsmodels==0.11.1
tabulate==0.8.7
testpontipy2==0.1.0
tqdm==4.49.0
traitlets==4.3.3
twine==3.2.0
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
xarray==0.15.1
zipp==3.1.0
